html {
    margin: 0;
}

/** --------------------------------------  **/
/**                navbar                   **/
/** --------------------------------------  **/

.navbar {
    border: none;
    background-color:  #ffffff;
}

.navbar-header:after {
    height: 30px;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 0px;
    margin-left: 0px;
}

.nav>li>a {
    position: relative;
    display: block;
    margin-top: 12px;
    margin-right: 10px;
    padding: 10px 15px;
}

.navbar-inverse .navbar-nav>li>a {
    text-align: center;
    color: #09206F;
    background-color: #fff;
    font-size: 19px;
    -webkit-transition: backround-color 0.2s, border 0.2s, color 0.2s;
    transition: backround-color 0.2s, border 0.2s, color 0.2s;
}

.navbar-inverse .navbar-nav>li>a:hover {
    text-align: center;
    color: #09206F;
    font-size: 19px;
    background-color: #F0F3F8;
    border: 1px solid #000;
    border-radius: 20px; 
}

@media (min-width: 768px)
.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 15px;
}
/** --------------------------------------  **/
/**                  Side Bar               **/
/** --------------------------------------  **/
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
/* The side navigation menu */
.sidebar-1 {
  background-color:#09206F;
  overflow: hidden;
  padding-top: 55px;
}

/* Sidebar links */
.sidebar-1 a {
  text-align: left;
  font-size: 15px;
  display: block;
  color: #f1f6f7;
  padding: 20px;
  text-decoration: none;
}

.col-sm-2 {
    padding-right: 0px;
    padding-left: 0px;
}

/* Links on mouse-over */
.sidebar-1 a:hover {
  background-color: rgba(255, 255, 255, 0.38);
  border-left: 20px solid #ffffff;
  color: white;
}

/** --------------------------------------  **/
/**               Main Section              **/
/** --------------------------------------  **/

.container-z {
    height: 100vh;
    background-color: #F0F3F8;
}


.container-1 {
    margin-top: 30px;
    margin-left: 150px;
    background-color: #ffffff;
    width: 833px;
    height: 300px;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}



.bgbox{
    padding-left: 212px;
}

.wlcm {
    text-align: center;
    padding-top: 5px; 
    background-color: #09206F;
    width: 400px;
    padding-bottom: 10px;
    color: #f2f9ff;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 17px;
}

.acct_det_h3 {
    padding-top: 10px;
    margin-left: 20px;
    padding-left: 20px;
    color: #03091c;
    text-align: left;
}

.acct_det_p {
    margin-top: 10px;
    margin-left: 20px;
    padding-left: 20px;
    color: #03091c;
    text-align: left;
}

.lvalues {
    color: #09206F;
    font-size: 18px;
}
.rvalues {
    color: #FFC14B;
    float: inherit;
    font-size: 18px;
}

.container-2 {
    margin-top: 30px;
    margin-left: 150px;
    background-color: #ffffff;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.msg_blnc_h3 {
    padding-top: 10px;
    margin-left: 20px;
    padding-left: 20px;
    color: #03091c;
    text-align: left;
}